@charset "UTF-8";

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    border-top: 2px solid #243B66;
    border-bottom: 2px solid #243B66;
    color: #3E67B3;
    padding: 15px;
    margin: 5px 0;
}

ul {
    color: #3E67B3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 15px;
    margin: 10px;
}

ul > li {
    padding: 0 15px;
    list-style-type: none;
}

.perguntas {
    padding: 5px 15px;
    margin: 0 auto;
}

ol {
    text-align: justify;
    padding: 10px 15px;
    line-height: 1.6em;
}

ol > li {
    margin: 20px 0;
}

.final {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    border-top: 2px solid #243B66;
    border-bottom: 2px solid #243B66;
    text-align: center;
    padding: 12px 0;
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #3E67B3;
    font-weight: bold;
}

a:hover {
    color: #5185E6;
    font-style: italic;
}